# --------------------------------------------------------------------------------------
# Webstorm IDE folders
# --------------------------------------------------------------------------------------

/.idea/


# --------------------------------------------------------------------------------------
# Node.js folders
# --------------------------------------------------------------------------------------

/node_modules/


# --------------------------------------------------------------------------------------
# npm
# --------------------------------------------------------------------------------------

npm-debug.log


# --------------------------------------------------------------------------------------
# Runner scripts (used for internal testing)
# --------------------------------------------------------------------------------------

*.runner.js


# --------------------------------------------------------------------------------------
# Code-coverage
# --------------------------------------------------------------------------------------

/src-instrumented/